name: CI/CD MLflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  X_TEST: "kc_house_data_preprocessing/X_test_preprocessed.csv"
  X_TRAIN: "kc_house_data_preprocessing/X_train_preprocessed.csv"
  Y_TEST: "kc_house_data_preprocessing/test_preprocessed_with_target.csv"
  Y_TRAIN: "kc_house_data_preprocessing/train_preprocessed_with_target.csv"
  TARGET_VAR: "price"

jobs:
  builds:
    runs-on: ubuntu-latest

steps:
  - uses: actions/checkout@v3
  - name: Set up Python 3.12.7
          uses: actions/setup-python@v4
          with:
            python-version: "3.12.7"
  - name: Check Env Variable
          run: |
            echo $X_TEST
  - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install mlflow
  - name: Run mlflow project
          run: |
            mlflow run MLproject --env-manager=local
  - name: Get latest MLflow run_id
          run: |
            RUN_ID=$(ls -td mlruns/0/*/ | head -n 1 | cut -d'/' -f3)
            echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
            echo "Latest run_id: $RUN_ID"
  - name: Build Docker Model
          run: |
            mlflow models build-docker --model-uri "runs:/$RUN_ID/model" --name "asah-proyek_Akhir"
  - name: Log in to Docker Hub
          uses: docker/login-action@v2
          with:
            username: ${{ secrets.DOCKER_HUB_USERNAME }}
            password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
  - name: Tag Docker Image
          run: |
            docker tag cc ${{ secrets.DOCKER_HUB_USERNAME }}/cc:latest
  - name: Push Docker Image
          run: |
            docker push ${{ secrets.DOCKER_HUB_USERNAME }}/cc:latest
